<header class="header-container layout-block layout-padding">
  <div class="header-inner content-padding-large soft-size--large soft-style--box">
    <div class="header-logo">
      <a href="{{ .Site.BaseURL }}"><h2>{{ .Site.Title }}</h2></a>
    </div>
    <nav class="header-nav">
      <style>
        .header-nav--btn {
          display: block;
          cursor: pointer;
        }

        .header-nav--list {
          display: none;
        }

        @media screen and (max-width: 768px) {
          .header-nav--list.show {
            display: block;
          }
        }
      </style>
      <div class="header-nav--btn"></div>
      <div class="header-nav--list">
        <div>
          <ul>
            {{ range .Site.Menus.main }}
              <li>
                <a class="list-item soft-size--small soft-style--hover soft-style--active" href="{{ .URL | safeURL }}" title="{{ .Title }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
