<header class="header-container layout-block layout-padding">
  <div class="header-inner content-padding-large soft-size--large soft-style--box">
    <div class="header-logo">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </div>
    <nav class="header-nav">
      <!-- 使用CSS样式来控制按钮的显示和隐藏 -->
      <style>
        .header-nav--btn {
          display: none;
        }
        @media screen and (max-width: 768px) {
          .header-nav--btn {
            display: block;
          }
          .header-nav--list {
            display: none;
          }
        }
      </style>
      <div class="header-nav--btn">
        <div class="btn-item"></div>
        <div class="btn-item"></div>
        <div class="btn-item"></div>
      </div>
      <div class="header-nav--list">
        <div>
          <!-- 使用列表元素来表示导航菜单 -->
          <ul>
            {{ range .Site.Menus.main }}
            <li>
              <a class="list-item soft-size--small soft-style--hover soft-style--active" href="{{ .URL | safeURL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
