<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main id="content">
    <div class="single-container layout-block">
      <div class="article-info">
        <div class="article-header layout-padding">
          {{ partial "card/card-cover.html" . }}
        </div>
        {{- block "widget" . -}}{{- end -}}
        <div class="article-content content-padding-large soft-size--large soft-style--box">
          {{ .Content }}
          <!-- 将评论区代码放在文章内容后面，增加用户参与度 -->
          <div id="tcomment"></div>
        </div>
        {{- block "main" . }}{{- end -}}
      </div>
    </div>
  </main>
  {{- partial "footer.html" . -}}

  {{- partial "footer-script" . -}}

  {{- partial "footer-single" . -}}
</body>
</html>

