.header-container {
  .header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo h2 {
    font-size: var(--font-large-size);
    font-family: monospace, sans-serif;
    white-space: nowrap;
    color: var(--theme-text-primary);
    transition: transitions((color, text-shadow), 0.3s);
    @include soft-text;
  }

  .header-nav {
    padding-left: 40px;

    .header-nav--btn {
      position: relative;
      width: 24px;
      height: 24px;
      cursor: pointer;
      user-select: none;

      &.open {
        .btn-item:nth-child(1) {
          transform: translateY(-8px) rotate(45deg);
        }
        .btn-item:nth-child(2) {
          transform: translateY(0) rotate(45deg);
        }
        .btn-item:nth-child(3) {
          transform: translateY(8px) rotate(45deg);
        }
      }

      .btn-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transition: transitions(transform, 0.3s);

        &:before {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background-color: var(--theme-text-stress);
          transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
        }
      }
    }

    .header-nav--list {
      display: none;

      a.list-item {
        display: inline-block;
        color: var(--theme-text-primary);
        font-size: var(--font-common-size);
        font-weight: bolder;
        overflow: hidden;
        padding: 8px 10px;
      }
    }
  }

  @media #{$mq-pc} {
    .header-nav--btn {
      display: block;
    }

    .header-nav--list {
      display: flex;

      a.list-item {
        padding: 8px 10px;
      }
    }
  }

  @media #{$mq-mb} {
    .header-nav--btn,
    .header-nav--list {
      display: block;
    }

    .header-nav--list {
      position: absolute;
      z-index: 9;
      top: 100%;
      right: 28px;
      transform: translateY(-20px);

      &::before, &::after {
        position: absolute;
        top: 0;
        right: 12px;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        transform-origin: center;
        transform: translate(50%, -50%) rotate(-45deg);
        background-color: var(--theme-bg-primary);
      }

      &::before {
        box-shadow:
          1px 1px calc(1px * 2) var(--theme-bg-shadow),
          calc(-1 * 1px) calc(-1 * 1px) calc(1px * 2) var(--theme-bg-high);
      }

      & > div {
        @include soft-box(var(--soft-small-radius));
        position: relative;
        padding: 6px 8px;

        a.list-item {
          display: block;
          text-align: left;
          padding: 14px 12px;
          transition: transitions(color);
        }
      }

      &.open {
        display: block;
      }
    }
  }
}
